<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
<body>
    <!-- main element is a flexbox  -->
    <main>
        <nav>
            <a href = '/'>Home</a>
            <a href = '/blog'>List all entries</a>
            <a href = '/new_entry'>New entry</a>
            <a href = '/login'>Log in</a>
            <a href = '/logout'>Log out</a>
        </nav>

        <div class="container">
            <!-- No message categories  -->
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="flash_message">{{message|safe}}</div>
                {% endfor %}
            {% endwith %}

            {% block content %}
            {% endblock %}

        </div> <!-- .container -->
    </main>

</body>
</html>
