{% extends "base.html" %}

<!-- entry form requires a title and a body -->

{% block content %}
<h1>EXPRESS your thoughts!</h1>
<form action="/new_entry" method="post">
  <label for="title_field">Name your post</label>
  <input id="title_field" name="title" type="text" value="{{new_entry_title}}">
  <br/>
  <label for="body_field"> Tell us all about this thought!</label>
  <textarea rows="4" cols="50" id="body_field" name="body">{{new_entry_body}}</textarea>

  <input id="submit_button" type="submit" Value="Save">
</form>
{% endblock %}
